* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100vw;
    background-color: rgb(217, 244, 246);
}

#main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    padding: 2vw;
}

h1 {
    align-self: center;
    margin-top: 8%;
    font-size: 5vw;
    font-weight: 500;
    color: rgb(255, 195, 250);
    padding: 50px;
}

#main-pic {
    align-self: center;
}

#main-img {
    
    max-width: 80vw;
    height: auto;
}


#description {

    align-self: center;
    text-align: center;
    width: 80vw;
    padding: 3vh;
    font-size: 1.5vw;
    line-height: 150%;
    border-bottom: 3px black solid;
    

    
}

h3 {
    text-align: center;
    padding: 5vh;
    padding-bottom: 8vh;
    font-size: 3vw;
}

h4 {
    text-align: center;
    font-size: 1.8vw;
    text-decoration: underline;
    padding: 4vh;
}

ul {
    width: 33vw;
    margin: auto;
}

ol {
    width: 66vw;
    margin: auto;
}

li {
    font-size: 1.3vw;
    padding: 0.7vh;
    line-height: 1.5vw;
}

ol li{
    padding: 2vh;
    line-height: 2vw;
}


#notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    margin: 2vw;
    padding-bottom: 2vw;
}

#notes p {
    font-size: 1.2vw;
    width: 50vw;
    text-align: center;
}

#nutrition {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#back-home {
    margin-top: auto;
    align-self: center;
    padding: 70px 0px 15px 0px;
    
    font-size: large;
    font-weight: bold;
}
