* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100vw;
    background-color: rgb(217, 244, 246);
    font-family: 'Tangerine';
}

#main {
    display: grid;
    grid-template-rows: repeat(auto-fill, 100vw);
}

#cup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    z-index: 1;
    margin-top: -60%;
    font-size: 8vw;
    letter-spacing: 1vw;
    color: rgb(255, 195, 250);
    padding: 50px;

}

#cup-pic {
    position: absolute;
    margin: auto;
    width: 80vw;
    height: auto;
    box-shadow: 7px 5px 5px 0px black;
}

#recipes-list {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    margin-bottom: 6vh;
}

li {
    padding: 15px;
    border: 1px black;
}

li:hover {
    transform: scale(1.05);
}


a:link {
    text-decoration: none;
    color: black;
    
}
a:hover {
    color: red;
}

a:visited {
    text-decoration: none;
}
